.slide-down {
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.5s ease-in-out forwards 2s;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
